@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

:root{
    --bg-color: #fdfdfd;
    --text-color: #333;
    --main-color: #754ef9;
    --white-color: #fdfdfd;
    --shadow-color: rgba(0,0,0, .2);
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
}

body{
    background: var(--bg-color);
    color: var(--text-color);
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 7%;
    background: transparent;
    display: flex;
    align-items: center;
    z-index: 100;
    transition: .5s;
}

.header.sticky{
    background: var(--bg-color);
    box-shadow: 0 .1rem 1rem var(--shadow-color);
}

.logo{
    font-size: 2.5rem;
    color: var(--main-color);
    font-weight: 600;
    cursor: default;
    margin-right: auto;
}

.navbar a {
    position: relative;
    font-size: 1.7rem;
    color: var(--text-color);
    font-weight: 500;
    margin-right: 3.5rem;
}

.header.sticky .navbar a{
    color: var(--text-color);
}

.header.sticky .navbar a.active{
    color: var(--main-color);
}

.header.sticky .navbar a::before{
    background: var(--main-color);
    opacity: .7;
}

.navbar a.active::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: .2rem;
    background: var(--white-color);
}

#darkMode-icon{
    font-size: 2.4rem;
    cursor: pointer;
}

.header.sticky #darkMode-icon{
    color: var(--text-color);
    opacity: .9;
}

#menu-icon{
    font-size: 3.6rem;
    color: var(--text-color);
    display: none;
}

section{
    min-height: 100vh;
    padding: 10rem 7% 2rem;
}

.home{
    display: flex;
    align-items: center;
}

.home .home-content{
    max-width: 44rem;
}

.home-content h3{
    font-size: 3.2rem;
    font-weight: 700;
    line-height: .3;
}

.home-content h1{
    font-size: 5.6rem;
    font-weight: 700;
    margin-bottom: .3rem;
}

.home-content p{
    font-size: 1.6rem;
}

.home-content .social-media a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background: transparent;
    border: .2rem solid var(--main-color);
    border-radius: 50%;
    box-shadow: 0 .2rem .5rem var(--shadow-color);
    font-size: 2rem;
    color: var(--main-color);
    margin: 2.5rem 1.5rem 3rem 0;
    transition: .5s ease;
}

.home-content .social-media a:hover{
    background: var(--main-color);
    color: var(--white-color);
}

.btn{
    display: inline-block;
    padding: 1.2rem 2.8rem;
    background: var(--main-color);
    border-radius: .6rem;
    box-shadow: 0.2rem .5rem var(--shadow-color);
    font-size: 1.6rem;
    color: var(--white-color);
    letter-spacing: .1rem;
    font-weight: 600;
    border: .2rem solid transparent;
    transform: .5s ease;
}

.btn:hover{
    background: transparent;
    color: var(--main-color);
    border-color: var(--main-color);
}

.home .profession-container{
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    width: 768px;
    height: 768px;
    overflow: hidden;
    pointer-events: none;
}

.home .profession-container .profession-box{
    position: absolute;
    top: 0;
    right: 0;
    width: 768px;
    height: 768px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: professionRotate ease-out 13s infinite;
}

@keyframes professionRotate{
    0%, 20%{
        transform: rotate(0deg);
    }

    25%, 45%{
        transform: rotate(-90deg);
    }

    50%, 70%{
        transform: rotate(-180deg);
    }

    75%, 95%{
        transform: rotate(-270deg);
    }

    100%{
        transform: rotate(-360deg);
    }
}

.home .profession-box .profession{
    position: absolute;
    left: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: var(--main-color);
    transform: rotate(calc(360deg / 4* var(--i)));
    transform-origin: 384px;
    background: var(--bg-color);
    padding: 13px 0;
}

.home .profession-box .profession:nth-child(1) i {
    margin-right: 15px;
}

.home .profession-box .profession:nth-child(2),
.home .profession-box .profession:nth-child(4) {
    padding-bottom: 20px;
}

.home .profession i{
    font-size: 3.8rem;

}

.home .profession h3{
    font-size: 3.2rem;
    line-height: 1;
    font-weight: 600;
}

.home .profession-box .circle{
    width: 560px;
    height: 560px;
    border: 3px solid var(--main-color);
    border-radius: 50%;
}

.home .profession-container .overlay{
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    height: 0;
    border-top: 384px solid var(--main-color);
    border-right: 384px solid var(--main-color);
    border-bottom: 384px solid var(--main-color);
    border-left: 384px solid transparent; 
}

.home-img img{
    position: absolute;
    bottom: 80px;
    right: 0;
    width: 27%;
    pointer-events: none;
}

span{
    color: var(--main-color);
}

/* Profil Section Styles */
.profil{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
}

.profil-img img{
    width: 40vw;
}

.heading{
    font-size: 4.5rem;
    text-align: center;
}

.profil-content h2{
    text-align: left;
    line-height: 1.2;
}

.profil-content h3{
    font-size: 2rem;
}

.profil-content p{
    font-size: 1.6rem;
    margin: 2rem 0 3rem;
}

/* Projects Section Styles */
.projets{
    /* min-height: auto; */
    padding-bottom: 7rem;
}

.projets h2{
    margin-bottom: 5rem;
}

.projets .projets-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}

.projets .projets-container-2{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
    margin-top: 10px;
}

.projets .projets-container-3{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
    margin-top: 10px;
}

.projets-container .projets-box,
.projets-container-2 .projets-box,
.projets-container-3 .projets-box{
    flex: 1 1 30rem;
    background: var(--bg-color);
    padding: 3rem 2rem 4rem;
    border-radius: 2rem;
    box-shadow: 0 .1rem .5rem var(--shadow-color);
    text-align: center;
    border-top: .6rem solid var(--main-color);
    border-bottom: .6rem solid var(--main-color);
    transition: .5s ease;
}

.projets-container .projets-box:hover,
.projets-container-2 .projets-box:hover,
.projets-container-3 .projets-box:hover{
    box-shadow: 0 .1rem 2rem var(--shadow-color);
    transform: scale(1.02);
}

.projets-box i{
    font-size: 7rem;
    color: var(--main-color);
}

.projets-box h3{
    font-size: 2.6rem;
    transition: .5s ease;
}

.projets-box:hover h3{
    color: var(--main-color);
}

.projets-box p{
    font-size: 1.6rem;
    margin: 1rem 0 3rem;
}

/* BTS Section Styles */
.bts {
    padding: 50px 20px;
    background-color: var(--bg-color);
}

.bts .heading {
    text-align: center;
    font-size: 4.5rem;
    margin-top: 3rem;
}

.bts .heading span {
    color: var(--main-color);
}

.bts-container {
    display: flex;
    justify-content: space-around;
    margin-bottom: 40px;
}

.bts-category {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    width: 45%;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}

.bts-category:hover {
    transform: translateY(-5px);
}

.bts-category h3 {
    font-size: 2.6rem;
    margin-bottom: 10px;
    color: var(--text-color);
}

.bts-category p {
    font-size: 1.6rem;
    color: var(--text-color);
}

.comparison-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.comparison-table th, .comparison-table td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: left;
}

.comparison-table td{
    font-size: 1.6rem;
}

.comparison-table th {
    background-color: var(--main-color);
    color: white;
    font-size: 2.6rem;
}

.comparison-table tbody tr:nth-child(even) {
    background-color: var(--bg-color);
}

.comparison-table tbody tr:hover {
    background-color: #e9ecef;
}

.contact h2{
    margin-bottom: 3rem;
}

.contact form{
    max-width: 70rem;
    margin: 1rem auto;
    text-align: center;
    margin-bottom: 3rem;
}

.contact form .input-box{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contact form .input-box input,
.contact form textarea{
    width: 100%;
    padding: 1.5rem;
    font-size: 1.6rem;
    color: var(--text-color);
    background: var(--bg-color);
    border-radius: .8rem;
    margin: .7rem 0;
    box-shadow: 0 .1rem .5rem var(--shadow-color);
}

.contact form .input-box input{
    width: 49%;
}

.contact form textarea{
    resize: none;
}

.contact form .btn{
    margin-top: 2rem;
    cursor: pointer;
}

.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem 7%;
    background: var(--main-color);
}

.footer-text p{
    font-size: 1.6rem;
    color: var(--white-color);
}

.footer-iconTop a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: .8rem;
    background: var(--white-color);
    border-radius: .8rem;
    border: .2rem solid var(--main-color);
    outline: .2rem solid transparent;
    transition: .5s ease;
}

.footer-iconTop a:hover{
    outline-color: var(--white-color);
}

.footer-iconTop a i{
    font-size: 2.4rem;
    color: #333;
}

/* REPONSIVE DONT CONSIDER THIS STYLING
@media (max-width: 1200px){
    html{
        font-size: 55%;
    }

    .home .profession-container{
        height: 85.8rem;
    }

    .home .profession-container .profession-box{
        right: -12rem;
        height: 85.8rem;      
    }

    .home .profession-container .overlay{
        right: -9rem;
    }
}

@media (max-width: 1024px){
    .header{
        padding: 2rem 3%;
    }

    section{
        padding: 10rem 3% 2rem;
    }

    .home .profession-container .profession-box{
        right: -22rem;
    } 

    .home .profession-container .overlay{
        right: -15rem;
    }
}
*/

/* Style Added by vala */

/* Hide the navbar by default for smaller screens */
.navbar {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 1rem;
    transition: max-height 0.3s ease-out;
}

/* For small devices, initially hide the navbar */
@media (max-width: 768px) {
    .navbar {
        display: none; /* Hidden by default */
        flex-direction: column; /* Vertical stack */
        background-color: var(--bg-color);
        padding: 1rem;
        position: absolute;
        top: 100%; /* Below the header */
        left: 0;
        width: 100%;
        box-shadow: 0 4px 8px var(--shadow-color);
        z-index: 99;
    }

    .navbar.active {
        display: flex; /* Show navbar when toggled */
    }

    #menu-icon {
        display: block; /* Show menu icon */
        cursor: pointer;
    }
}


div p {
    text-align: justify;
}

/* Responsivness  */

/* Large device 1025 to 1200 px */
@media (max-width: 1200px) {
    div p,.comparison-table td{
        font-size: 1.5rem!important;
    }
    
}

/* Medium device 769 to 1024px */
@media (max-width: 1204px) {
    
}

@media (max-width:900px) {
    #profil{
        flex-direction: column;
    }

    .profil-img{
        order : 2;
    }

    div p{
        text-align: center;
    }

    .profil-content .heading{
        text-align : center;
    }

    .profil-content{
        text-align: center;
    }
}


/* Small device 481 to 768px */
@media (max-width: 768px) {
    .bts-container{
        flex-direction: column;
        align-items: center;
    }

    .bts-category{
        width: 80%;
        margin-top: 5rem!important;
    }

    .profil-img img{
        width: 100%; 
        height: auto; 
        max-width: 100%; 
    }
    
    .heading,.projets-box h3{
        font-size: 2.5rem;
        
    }

}

/* home  */

@media (max-width: 768px) {
    .home {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .home-content {
        max-width: 90%;
    }

    .home-content h3 {
        font-size: 2.4rem;
        line-height: 1.2;
    }

    .home-content h1 {
        font-size: 3.6rem;
    }

    .home-content p {
        font-size: 1.4rem;
        margin-bottom: 1.5rem;
    }

    .social-media a {
        width: 3.5rem;
        height: 3.5rem;
        margin: 1rem 0.5rem 2rem 0;
    }

    .btn {
        font-size: 1.4rem;
        padding: 1rem 2.4rem;
    }

    .home-img img {
        width: 50%;
        margin-top: 2rem;
    }

    .profession-container {
        display: none; /* Hide rotating professions for mobile */
    }
}

@media (max-width: 1280px) {
    #accueil{
        flex-direction: column!important;

    }

    .profession-container{
        /* position:relative!important;
        transform: rotate(90deg)!important;
        top: 0!important;
        right: 0!important; */
        display: none;
    }

    .home-img{
        display: none;
    }

    
}


/* General table styling */
.comparison-table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 16px;
    text-align: left;
}

.comparison-table th, .comparison-table td {
    border: 1px solid #ddd;
    padding: 8px;
}

/* Header styling */
.comparison-table thead {
    background-color: #f2f2f2;
}

.comparison-table th {
    font-weight: bold;
}

/* Responsive styling */
.comparison-table {
    display: block;
    overflow-x: auto;
    white-space: nowrap;
}

.comparison-table th, .comparison-table td {
    white-space: normal; /* Allow text wrapping */
    word-wrap: break-word;
}

/* Optional: Add some spacing and alignment for smaller screens */
@media screen and (max-width: 768px) {
    .comparison-table th, .comparison-table td {
        font-size: 14px;
        padding: 6px;
    }
    
    .comparison-table {
        margin: 10px 0;
    }
}



